.recipe-content{
    margin-left: 15%;
    margin-top: 3%;
}

#form{
    display: flex;
    /* flex-direction: column;*/
    gap: 20%;
    justify-content: flex-start; 
}

.form-icon {
    padding-right: 2%;
    color: rgb(193, 161, 232);
}

.input{
    color: rgb(226, 161, 232);
}

.checkbox-input{
    padding-left: 4%;
    margin-top: -6%;
}

.checkbox-icon{
    margin: 0% 3% -3% 0%;
    color: rgb(193, 161, 232);
}

.button-add{
    display: flex;
    flex-direction: row;
    gap: 6%;
    justify-content: center;
}
