*{
     padding: 0;
    margin-top: 0; 
}

.container-retetar{
padding-left: 6%;
}

.add-button{
    padding-left: 4%;
    padding-top: 5px;
    width: 20%;
}

.lista-retete{
text-decoration: none;
list-style: none;
padding-top: 2%;
padding-left: 5%;

}

.products{
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: flex-start; 
    width: 30%;
}

li{
    width: 30%;
}

.buttons{
    width: 100%;
}